name: Build GraalVM Native Image and upload binary
on: [push]
jobs:
  main:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup GraalVM CE
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14'

      - name: Display versions
        run: |
          java --version
          native-image --version
          gradle --version

      - name: Build using Gradle plugin
        run: gradle nativeCompile
        env:
          # Needed for Windows; to resolve issue with temp folder during native image build, due to relativization
          # problem when different drives are used, such as in GHA runners.
          # https://github.com/graalvm/native-build-tools/issues/754
          GRADLE_OPTS: -Djava.io.tmpdir=${{ runner.temp }}

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.os }}
          path: ${{ github.event.repository.name }}*
